/*Code Credit ITTIB by CI*/
body {
    background-color: #F9FAFC;
}

/*custom h1 css*/
h1 {
    text-align: center;
}

/*Code Credit ITTIB by CI*/
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

/*Code Credit ITTIB by CI*/
.thin {
    font-weight: 300;
}

/*Code Credit ITTIB by CI*/
.light-bg {
    background-color: #fff;
}

/*Code Credit ITTIB by CI*/
.dark-bg {
    background-color: #445261;
}

/*Code Credit ITTIB by CI*/
.main-bg {
    background-color: #ce954a;
}

/*Code Credit ITTIB by CI*/
.card {
    border: none;
    background-color: transparent;
}

/*Code Credit ITTIB by CI*/
.image-container {
    position: relative;
}

/*Code Credit ITTIB by CI*/
.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

/*Code Credit ITTIB by CI*/
.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/*Code Credit ITTIB by CI*/
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

/*Code Credit ITTIB by CI*/
.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

/*Code Credit ITTIB by CI*/
.masthead-image {
    position: relative;
    overflow: hidden;
}

/*Code Credit ITTIB by CI*/
.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

/*Code Credit ITTIB by CI*/
.post-link {
    text-decoration: none;
    color: #445261;
}

/*Code Credit ITTIB by CI*/
.post-link:hover,
.page-link {
    color: #E84610;
}

/*Code Credit ITTIB by CI*/
.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

/*Code Credit ITTIB by CI*/
.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* css structure credit I think Therefore I Blog by Code Institute. Values are custom*/
.btn-signup {
    background-color: #fff;
    color: black;
}

/*Code Credit ITTIB by CI*/
.thread {
    color: black;
}

/*Code Credit ITTIB by CI*/
.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #ce954a;
}

/*Code Credit ITTIB by CI*/
.link {
    color: #23BBBB;
    text-decoration: none;
}

/*Code Credit ITTIB by CI*/
.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/*Code Credit ITTIB by CI*/
.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

/*Code Credit ITTIB by CI*/
.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* footer*/
/*custom code lines 157 to 167*/
.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    color: black
}