<!--Code Credit ITTIB by CI lines 3 to 5-->

{% extends "base.html" %}

{% block content %}

<!--Code code H1-->
<h1>Choose a Thread you'd like to Prattle about:</h1>

<!--Code Credit ITTIB by CI lines 10 to 61-->
<div class="container-fluid">
    <div class="row">

        <!--List of threads to choose from-->
        <div class="m-0 text-center">
            <div class="row">
            {% for thread in thread_list %}
                <div class="col-md-8 mt-3 offset-md-2">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-flash">
                                <p class="author">Author: {{ thread.author }}</p>
                            </div>
                        </div>
                        <a href="#" class="post-link">
                            <h2 class="card-title">{{ thread.title }}</h2>
                            <p class="card-text"> {{ thread.excerpt }}</p>
                        </a>
                        <hr />
                        <p class="card-text text-muted h6">{{ thread.created_on }} <i
                             class="far fa-heart"></i>{{ thread.number_of_likes }}</p>
                    </div>
                </div>

            {% if forloop.counter|divisibleby:6 %}
            </div>
            <div class="row">
            {% endif %}                
            {% endfor %}
            </div>
        </div>
    </div>

</div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
</div>

{%endblock%}